# Data Science Tools and Ecosystem

In this notebook the lesson learnt in first few days will be summarized. Also, the tools will demonstrated.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn
4. TensorFlow
5. Keras


|Data Science Tools|
| --- |
| Apache Hadoop |
| Keras |
| Tensorflow |
| Matplotlib |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

Objectives:
 
- Some of the popular Languanges used for Data Science.
- Some of the open source libraries used for Data Science.
- Some of the popular tools used for Data Science.
- How to create a table in Jupyter notebook.
- Some of the basic  arithmetic operation in Jupyter notebook using code cells.

## Author
Sagar Garud